.search-container {
    display: flex;

    .category-selector {
        min-width: 23.5rem;
        font-size: 1.6rem;
        margin-left: 1rem;
    }

    .book-list-wrapper {
        justify-items: flex-start;

        h2 {
            margin-left: -1.2rem;
            margin-bottom: 1.6rem;
        }

        .book-list {
            padding-left: 0;
            margin: 0 -1rem;
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;

            .book {
                margin-bottom: 1rem;
                margin-left: -1rem;
            }
        }

        .page-number {
            span,
            a {
                font-size: 1.6rem;
            }
        }
    }
}
