@import '~/styles/variables';

.book-img {
    width: 100%;
}

.buy-book {
    .book-name {
        font-size: 2.5rem;
    }

    .rated-number-of-reviews {
        display: flex;
        margin-top: 1rem;

        .book-rated {
            display: flex;
            align-items: center;
            font-size: 1.6rem;
            margin-right: 2rem;

            .number-of-rates {
                margin-right: 0.6rem;
            }

            svg {
                font-size: 1.4rem;
                color: #f69c08;
            }
        }
        .number-of-reviews {
            font-size: 1.6rem;
        }
    }

    .book-genres {
        font-size: 1.6rem;
        margin-top: 1.6rem;
    }

    .book-authors {
        font-size: 1.6rem;
    }

    .book-other-info {
        font-size: 1.6rem;
    }

    .book-price {
        font-size: 2.4rem;
        margin-top: 1.6rem;
        color: #c92127;
        font-weight: bold;
    }

    .book-quantity {
        display: flex;
        font-size: 1.6rem;
        margin-top: 1rem;
        margin-bottom: 1.6rem;

        .book-quantity-btn {
            width: 3.2rem;
            height: 3.2rem;
            border: 0.1rem solid rgba(0, 0, 0, 0.09);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            background-color: #dfdddd;

            &:disabled {
                background-color: #f9f9f9;
            }
        }

        .book-quantity-input {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 5rem;
            height: 3.2rem;
            outline: none;
            border: none;
            text-align: center;
            border-top: 0.1rem solid rgba(0, 0, 0, 0.09);
            border-bottom: 0.1rem solid rgba(0, 0, 0, 0.09);
        }
    }

    .btn {
        padding: 0.8rem 2rem;
        font-size: 1.6rem;
        color: #fff;
        border: none;

        &.btn-cart {
            background-color: #ec8000;
            margin-right: 1.6rem;
        }

        &.btn-buy-now {
            background-color: #23272b;
        }
    }
}

.book-introduction {
    // margin-top: 4rem;
    padding: 2rem;

    .book-introduction-title {
        font-size: 2.2rem;
        font-weight: 700;
        padding: 1rem;
        background-color: #f3f3f3;
    }

    .intro-tab-content {
        font-size: 1.6rem;
    }
}

.comment-list {
    margin-top: 8rem;

    .comment-list-title {
        font-size: 2.2rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    .comment {
        display: flex;
        margin-top: 0.4rem;
        position: relative;

        & + .comment {
            margin-top: 1.2rem;
        }

        .comment-avatar-date {
            display: flex;
            flex-direction: column;
            align-items: center;

            .commentator-avatar {
                width: 3.2rem;
                height: 3.2rem;
                border-radius: 50%;
            }

            .comment-date {
                font-size: 1.4rem;
            }
        }

        .comment-info-wrapper {
            margin-left: 0.6rem;

            .commentator-name-comment-content {
                background-color: $background-color-medium-gray;
                padding: 0.8rem 1.2rem;
                border-radius: 1.2rem;

                .commentator-name {
                    font-size: 1.3rem;
                    font-weight: 500;
                }

                .comment-content {
                    font-size: 1.5rem;
                }
            }
        }
    }
}
